.navbar {
  text-align: center;
}
 
.navbar li {
  list-style: none;
  display: inline;
  margin: 0 10px;
}
 
a {
  color: black;
  text-decoration: none;
}

.NewBeer article {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-container {
  padding: 50px;
}

.NewBeer img {
  width: 50px; height: auto
}

.text-container {
  width: 50%;
}